#loading {
  background: transparent;
  position: fixed;
  width: 200vh;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sr-only {
  font-size: larger;
}
